@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
body {
  font-family: "Poppins";
  background: #242424;
  color: white;
}
h1 {
  font-size: 1000px;
   text-shadow: 0 0 30px black;
  color: white;
  text-align: center;
}
.button1 {
  width: fit-content;
  font-family: 'Quicksand', sans-serif;
  height: auto;
  padding: 10px 18px;
  color: white;
  background-color: #454eb5;
  border-radius: 14px;
  transition: all 0.5s ease;
  cursor: pointer;
  top: auto;
  left: 50%;
  transform: translate(-28%, -50%);
  border: 1px solid black;
  text-align: center;
  margin-left: 115px
}

.button1:hover {
  background-color: #f25757;
  cursor: pointer;
  color: white;
  box-shadow: 0px 15px 20px rgba(242, 87, 87, 0.2);
}
a {
  font-family: 'Poppins', sans-serif;
  color: #d4cfcf;
  font-size: 20px;
  text-decoration: none;
}
a.intro {
  background-color: #454eb5;
  background-position: 10px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  color: #d4cfcf;
  font-size: 18px;
  text-decoration: none;
  transition: 1s;
}
a.intro:hover {
  background-color: #f25757;
  cursor: pointer;
  color: white;
  box-shadow: 0px 15px 20px rgba(242, 87, 87, 0.2);
}